<div class="avatar">asd</div>
<div class="nav-links">
  <a
    routerLink="timetable"
    routerLinkActive="router-link-active"
    [matTooltip]="isOpen ? '' : 'Timetable'"
  >
    <mat-icon>schedule</mat-icon>
    @if (isOpen) {
    <span> Timetable </span>
    }
  </a>
  <a
    routerLink="subjects"
    routerLinkActive="router-link-active"
    [matTooltip]="isOpen ? '' : 'Subjects'"
  >
    <mat-icon>book_2</mat-icon>
    @if (isOpen) {
    <span> Subjects </span>
    }
  </a>
  <a
    routerLink="chat"
    routerLinkActive="router-link-active"
    [matTooltip]="isOpen ? '' : 'Chat'"
  >
    <mat-icon>chat</mat-icon>
    @if (isOpen) {
    <span> Chat </span>
    }
  </a>
</div>
<button mat-icon-button [matTooltip]="isOpen ? '' : 'Chat'">
  <mat-icon>logout</mat-icon>
  @if (isOpen) {
  <span> logout </span>
  }
</button>
