:host {
  display: flex;
  flex-direction: column;
  background: var(--secondary-bg-color);
  width: min-content;
  padding: 20px;
}

.avatar {
  background-image: url("../../../../assets/img/placeholder-profile-pic.webp");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

.router-link-active {
  color: #bff937;
}

button {
  color: #fff;
}
