:host {
  display: flex;
  flex-direction: column;
  background: #586054;
  width: min-content;
  padding: 20px;
}

.avatar {
  background: salmon;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

.router-link-active {
  color: #bff937;
}

button {
  color: #fff;
}
