<div class="avatar">asd</div>
<div class="nav-links">
  <app-link link="timetable" tooltip="Timetable">
    <div matTooltip="Timetable">
      <app-button icon="schedule" />
    </div>
  </app-link>
  <app-link link="subjects" tooltip="Subjects">
    <div matTooltip="Subjects">
      <app-button icon="book_2" />
    </div>
  </app-link>
  <app-link link="chat" tooltip="Chat">
    <div matTooltip="Chat">
      <app-button icon="chat" />
    </div>
  </app-link>
</div>
<div class="logout" tooltip="Logout">
  <div matTooltip="Logout">
    <app-button icon="logout" />
  </div>
</div>
