:root {
  --bg-color: #ece1c8;
  --secondary-bg-color: #586054;
}

html {
  box-sizing: border-box !important;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

input,
mat-form-field,
mat-error,
mat-label,
button {
  font-family: "Inter", sans-serif !important;
}
