<div
  class="subjects-container"
  cdkDropList
  cdkDropListOrientation="mixed"
  (cdkDropListDropped)="drop($event)"
  [ngClass]="{ 'dragging': isDragging }"
>
  @for (subject of subjects$ | async; track subject.id) {
  <app-subject-card
    [subject]="subject"
    cdkDrag
    (cdkDragStarted)="onDragStarted()"
    (cdkDragEnded)="onDragEnded()"
  >
    <div class="dragger" cdkDragHandle>
      <div class="dragger-col">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dragger-col">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </app-subject-card>
  }
</div>
